<div class = "row">
	<div class = "span12">
		<div class = "well", style= "font-family: 'Patrick Hand SC', cursive;"> 
			<p style= "font-size: 36px; line-height: 37px">
				We like fishing gear as much as the next guy, so we're giving away a $100 gift card to Cabela's.</br></br>

				Help us test out the BETA version of this site.  Just sign up, post a picture and you're entered.... One random photo will be selected.</br></br>

				NOT GOOD ENOUGH???  If your picture makes it to the home page you'll have a chance at another $100 gift card.</br></br>

				lun-ker.com's CFO (Chief Fishing Officer) will select the  winner from the home page. </br></br>  

				This site is all about great fishing pictures so post as many as you like.  Pictures are ranked by their popularity within the community. 
				Post a great pic and it will rise to the glorious home page.</br></br>

				- elPresidente

			</p> 
		</div>
	</div>
</div>

