<div class = "row">
	<div class = "span8 offset2">
		<h2>Contests</h2>

		<div class = "well"> For our beta launch we are giving away a $100 gift certificate to Cabela's.  All you have to do is post pictures.  If your picture makes it to the home page you're entered. Once beta testing is complete a winner will be selected from the photo's on the home page.  Good luck!  </br></br>               
			- El Presidente </div>
	</div>
</div>

