<% title "Photos" %>
  <div class = "page-header">
     <h1>All of the Photos</h1>
  </div>


    <div id="device">
            <div class="content">
                <div id="home_page">
                    <% @photos.each do |photo| %>
                        <div class="item">
                            <div><%= link_to image_tag(photo.image_url()), photo %></div>
                        </div>
                    <% end %>  
                </div>   
            </div>
    </div> 

  <%= direct_upload_form_for @uploader do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Upload Photo" %></p>
  <% end %>
    







<script type="text/javascript">
            var isAbsolute = false;
            var isFixed = true;

            $(document).ready(function () {

                $("header").css({
                    width: $("#info").width(),
                    'margin-left': -$("#info").width() / 2
                }).fadeIn(800);
                $("header h1").fitText(0.8)

                $(window).scroll(function () {
                    //You've scrolled this much:
                    if (($("#device").height() - (($(window).height() / 4) + $("header").height())) <= $(window).scrollTop()) {
                        if (isAbsolute === false) {
                            $("header").css({
                                'position': 'absolute',
                                'top': ($(window).scrollTop() + ($(window).height() / 4))
                            });
                            $("#resize_container").fadeOut(400);
                            // $("header").fadeOut(800);
                            isAbsolute = true;
                            isFixed = false;
                        }
                    } else {
                        if (isFixed === false) {
                            $("header").css({
                                'position': 'fixed',
                                'top': ($(window).height() / 4)
                            });
                            $("#resize_container").fadeIn(400);
                            // $("header").fadeIn(800);
                            isAbsolute = false;
                            isFixed = true;
                        }
                    }
                });
          
                // example1
                $("#home_page").gridalicious({
                    gutter: 1,
                    width: 200,
                    animate: false,
                    animationOptions: {
                            speed: 150,
                            duration: 1000,
                            complete: onComplete
                    },
                });

                // function not used. 
                function onComplete(data) {
                    
                }

            });
        </script>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("3vzq2-36ezz97x0n");
} catch(err) {}
</script>


