body {
  background: #f1f1ed;
}

.item {
  background: #bebebe;
  color: #bebebe;
  border-radius: 3px;
  padding: 10px ;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

#device {
  margin: 10px auto 0;
}

  header {
    text-align: center;
    position: fixed;
    top: 25%;
    z-index: 999999;
    width: 400px;
    left: 50%;
    display: none;
  /*  margin-left: -200px; */
  }
 
    header h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
      margin-left: -0.12em;
      width: 100%;
      display: block;
      
    }

    header h1 .v {
      font-size: 120px;
      line-height: 1;
      letter-spacing: -1px;
      margin-left: 10px;
    }
  
    header p {
      margin-left: 10px;
      /*margin: 10px 0 40px;*/
    }

#info {
  /*margin-top: -175px*/
}

#resize_container {
  position: fixed;
  height: 50px;
  margin: 0;
  width: 146px;
  left: 50%;
  margin-left: -73px;
  margin-top: 20px;
  z-index: 99999;
}

#resize a:hover {
   opacity: 1; 
}

.browser{
  height: 25px;
  width: 36px;
  text-indent: -9999px;
  display: block;
  background: url('../img/browser.png') top left no-repeat;
  cursor: pointer;
  float: left;
  opacity: .3;
}

.ipad-port{
  height: 25px;
  width: 31px;
  text-indent: -9999px;
  display: block;
  background: url('../img/ipad_port.png') top left no-repeat;
  cursor: pointer;
  float: left;
  opacity: .3;
}

.ipad-land{
  height: 25px;
  width: 34px;
  text-indent: -9999px;
  display: block;
  background: url('../img/ipad_land.png') top left no-repeat;
  cursor: pointer;
  float: left;
  opacity: .3;
}

.iphone-land{
  height: 25px;
  width: 20px;
  text-indent: -9999px;
  display: block;
  background: url('../img/iphone_land.png') top left no-repeat;
  cursor: pointer;
  float: left;
  opacity: .3;
}

.iphone-port{
  height: 25px;
  width: 25px;
  text-indent: -9999px;
  display: block;
  background: url('../img/iphone_port.png') top left no-repeat;
  cursor: pointer;
  float: left;
  opacity: .3;
}

.active {
  opacity: 1;
  cursor: default
}

h4.suboption{padding: 0;
  margin: 0;
  line-height: 1;
}

.dl-horizontal{margin-top: 5px}

.example { margin-bottom: 60px;}

#example1 {
  padding: 20px 0 0 0;
  border: 1px solid #e2e2e2;
  background: #f8f8f3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  margin-bottom: 20px;
}

#example2{
  margin: 10px 0 20px;
  font-size: 0.4em;
}

#example3{
  margin: 10px 0 20px;
  font-size: 0.4em;
}

.btn-large {
  padding: 9px 14px;
  font-size: 26px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.footer {
  background: #fff;
  padding: 60px;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  color: #666
}
.footer a {
  color: #666;
}

/*.ops {
  padding: 0 19.5px;
  border-left: 1px solid #d3d3d3;
}*/