.photo {
	text-align:center;
	padding: 15px 0px;
	
}

.photo_image {
	margin-top: 20px;
	margin-bottom: 20px;

}

.photo_comment_form {
	margin-top: 10px;

}

.processing{
	
	display: table-cell;
	vertical-align: middle;
	padding-left: 35px;
	width: 200px;
	height: 150px;
	color: #000000;
}


