.photo {
	text-align:center;
	padding: 15px 0px;
	
}

.photo_image {
	margin-top: 20px;
	margin-bottom: 20px;

}

.photo_comment_form {
	margin-top: 10px;

}

.processing{
	text-align: justify;
	width: 200px;
	height: 100px;
	color: #000000;
}


