<div class = "row">
	<div class = "span12">
		<div class = "well"> 
			<p style= "font-size: 20px; line-height: 37px">
				Accessing any page of our website other than our home page and this "Terms" page constitutes your consent to these terms of use and to our Privacy Policy. If you do not consent, do not use our website.</br> 
Your use of our website to do anything beyond simply accessing/viewing it (that is, uploading, downloading, commenting, etc.), constitutes not merely your consent, but also your electronic signature, meaning that you are contractually bound by these terms and by our Privacy Policy.</br>
STUFF NOT TO DO</br>
If someone else might own the copyright to it, don’t upload it. Don’t upload gore, obscenity, advertising, solicitations, "hate speech" (i.e. demeaning race, gender, age, religious or sexual orientation, etc.), or material that is threatening, harassing, defamatory, or that encourages illegality. Don’t hotlink to such content, or to file-sharing or torrent sites. Don't impersonate someone else. If you do (and we will be the judge), or if you do anything illegal (including pictures of poaching), in addition to any other legal rights we may have, we will ban you along with the site you're hotlinking from, delete all your images, report you to the authorities if necessary, and prevent you from viewing any images hosted on lun-ker.com.  We mean it.</br>
STUFF TO DO, PLEASE</br>
If you see anything on our site that shouldn’t be there because it violates our policies or for any other reason, please let us know by emailing us lunkerapp@gmail.com. 
Avoid foul language for anything you make publicly available. Use asterisks *** to self-bleep if you must. </br>
THE DETAILS</br>
Version 25/05/2013</br>
Intellectual Property</br>
By uploading a file or other content or by making a comment, you represent and warrant to us that (1) doing so does not violate or infringe anyone else’s rights; and (2) you created the file or other content you are uploading, or otherwise have sufficient intellectual property rights to upload the material consistent with these terms. With regard to any file or content you upload to the public portions of our site, you grant lun-ker a non-exclusive, royalty- free, perpetual, irrevocable worldwide license (with sublicense and assignment rights) to use, to display online and in any present or future media, to create derivative works of, to allow downloads of, and/or distribute any such file or content. To the extent that you delete a such file or content from the public portions of our site, the license you grant to lun-ker pursuant to the preceding sentence will automatically terminate, but will not be revoked with respect to any file or content lun-ker has already copied and sublicensed or designated for sublicense. Also, of course, anything you post to a public portion of our site may be used by the public pursuant to the following paragraph even after you delete it. </br>

By downloading a file or other content from the lun-ker.com site, you agree that you will not use such file or other content except for personal, non-commercial purposes, and you may not claim any rights to such file or other content, except to the extent otherwise specifically provided in writing. </br>
NOTICES OF CLAIMED COPYRIGHT INFRINGEMENT </br>
If you see anything on our site that you believe infringes your copyright rights, you may notify us by sending an email to lunkerapp@gmail.com with the following information:</br>
Identification of the copyrighted work or works claimed to have been infringed;</br>
Identification of the material on our servers that is claimed to be infringing and that is to be removed, including the URL or other information to enable us to locate the material;</br>
A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by you as copyright owner, or by your agent, or by law;</br>
A statement that the information in your notice is accurate, and under penalty of perjury, that you are the owner (or authorized to act on behalf of the owner) of the exclusive copyright right that is allegedly being infringed.
Your physical or electronic signature, or of someone authorized to act on your behalf;</br>
Instructions on how we may contact you: preferably email, but also address and phone</br>
Use the same procedure for any claimed trademark violations or other infringements. If we receive a notice and remove something you posted anonymously, we will have no way of notifying you, so you will have to contact us if you think that may have happened. Keep in mind that we reserve the right to remove any content at any time whether or not it infringes or violates any of our policies.</br>
Disclaimer of Warranties, Limitations of Remedies, Indemnity</br>
Although of course we strive to make lun-ker as dependable as possible, lun-ker’s services are provided on an AS IS – WITH ALL FAULTS basis. Your use of our service is entirely at your own risk. We do not guarantee the availability of our service at any given time, or the reliability of our service when it is running. We do not guarantee the integrity of, or the continued availability of files on, our servers. Whether we make backups, and if so whether restoration of those backups will be available to you, is at our discretion. LUN-KER DISCLAIMS ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF FITNESS AND MERCHANTABILITY. NOTWITHSTANDING ANYTHING ELSE STATED IN THESE TERMS, AND IRRESPECTIVE OF WHETHER LUN-KER TAKES OR DOES NOT TAKE MEASURES TO REMOVE INAPPROPRIATE OR HARMFUL CONTENT FROM ITS SITE, LUN-KER HAS NO DUTY TO MONITOR ANY CONTENT ON ITS SITE. LUN-KER DOES NOT ASSUME RESPONSIBILITY FOR THE ACCURACY, APPROPRIATENESS, OR HARMLESSNESS OF ANY CONTENT APPEARING ON LUN-KER.COM THAT IS NOT PRODUCED BY LUN-KER, INCLUDING BUT NOT LIMITED TO USER CONTENT, ADVERTISING CONTENT, OR OTHERWISE. </br>

LUN-KER’s liability for the loss of any services and/or of any images or other data you may have stored on Lun-ker’s service is limited to a refund of the cost, pro-rated if applicable, of the most recent month of service (if you have paid for an LUN-KER Pro subscription). Otherwise, your sole remedy is to discontinue the use of our service. LUN-KER WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR USE OF, OR INABILITY TO USE, LUN-KER'S SERVICES, EVEN IF LUN-KER HAS BEEN ADVISED OF OR REASONABLY SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. NO CAUSE OF ACTION ARISING OUT OF YOUR USE OF LUN-KER'S SERVICES MAY BE BROUGHT MORE THAN ONE YEAR AFTER IT ACCRUES. </br>

YOU WILL INDEMNIFY AND HOLD LUN-KER AND ALL OF ITS PERSONNEL HARMLESS FROM ALL LOSS, LIABILITY, CLAIMS, DAMAGES AND EXPENSES, INCLUDING REASONABLE ATTORNEY FEES, ARISING OUT OF OR RELATED TO YOUR VIOLATION OF THESE TERMS, YOUR INFRINGEMENT OF ANY THIRD PARTY’S RIGHTS, AND ANY HARM CAUSED TO ANY THIRD PARTY AS A RESULT OF YOUR UPLOADING OF FILES, COMMENTS, OR ANYTHING ELSE TO OUR SERVERS.</br>
MISCELLANEOUS</br>
"LUN-KER" or "we" refers to our company, and its successors and assigns. "You" refers to any person who has consented to these terms or has become contractually bound to them, whether such person is identified or not at the time. These terms are governed by Canadian law, excluding its conflicts of law principles, and if there is a lawsuit between you and lun-ker, jurisdiction and venue will lie exclusively in the State where the defendant is located, if within the United States, or Alberta, Canada otherwise. If any part of these terms is invalid, the remaining provisions will be unaffected. These Terms of Use constitute the entire agreement among the parties relating to this subject matter, and they will continue to govern any issues that arise out of your use of Lun-ker's services even after you discontinue using them. We may revise these terms from time to time without notice. Whenever we do so, we will so indicate by changing the version date at the top. Any changes apply as of the time they are posted. Lun-ker is not meant for use by children under age 13; if your child is younger than 13 please allow him or her to use it only under your supervision.</br>



			</p> 
		</div>
	</div>
</div>
