<p style= "text-align: center;"><i class="icon-star-empty icon-spin icon-2x"></i></p>
</br>
<p style= "text-align: center;"><i class="icon-star-empty icon-spin icon-2x"></i></p>
</br>
<p style= "text-align: center;"><i class="icon-star-empty icon-spin icon-2x"></i></p>

<h2 style= "font-family: 'Patrick Hand SC', cursive; text-align: center;">Get an Avatar <%= link_to "HERE", "http://www.gravatar.com" %></h2>
</br>
</br>